/**layouts*/
@media (min-width: 992px) {
    .col_md_12 {
        width: 100%
    }

    .col_md_10 {
        width: 83.333333333%
    }

    .col_md_9 {
        width: 75%
    }

    .col_md_8 {
        width: 66.666666667%
    }

    .col_md_7 {
        width: 58.33333333%
    }

    .col_md_6 {
        width: 50%
    }

    .col_md_5 {
        width: 41.66666667%
    }

    .col_md_4 {
        width: 33.33333333%
    }

    .col_md_3 {
        width: 25%
    }

    .col_md_2 {
        width: 16.66666667%
    }

    .col_md_2, .col_md_3, .col_md_4, .col_md_5, .col_md_6, .col_md_6, .col_md_7, .col_md_8, .col_md_9, .col_md_10, .col_md_12 {
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 786px) {

}