.ck_content {
    width: 80%;
    font-size: 16px
}

.ck_topbar {
    width: 100%;
    height: 1.5em
}

.ck_leftbar {
    width: 13%;
    min-height: 85%
}

.ck_rightbar {
    width: 83%;
    min-height: 85%
}
.ck_leftbar,.ck_rightbar{
    overflow: auto;
    display: inline-block;
}
/**btn*/
.ck_btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

.ck_btn_warn {
    background: #F25663
}

.ck_btn_success {
    background: #4cae4c
}

.ck_btn_sure {
    background: #7C9DBC
}

.ck_btn_cancel {
    background: gainsboro;
    color: #202020
}

.ck_btn_warn, .ck_btn_success, .ck_btn_sure {
    color: #F6FFF8
}

/**基础色*/
.ck_font_rosiness {
    color: #F25663
}

.ck_bg_rosiness {
    background-color: #F25663
}

.ck_font_white {
    color: #F6FFF8
}

.ck_bg_white {
    background-color: #F6FFF8
}

.ck_font_popcorn {
    color: #FEEB9F
}

.ck_bg_popcorn {
    background-color: #FEEB9F
}

.ck_font_sky-blue {
    color: #94D7F2
}

.ck_bg_sky-blue {
    background-color: #94D7F2
}

.ck_font_blue {
    color: #7C9DBC
}

.ck_bg_blue {
    background-color: #7C9DBC
}

/**弹出框*/
.ck_popup {
    width: 40em;
    height: 24em
}

.ck_min_popup {
    width: 18em;
    height: 8em
}

.ck_popup, .ck_min_popup {
    padding: 1em;
    font-size: 16px
}

/**组*/
.ck_group {
    margin: 1em
}

.ck_group, .ck_part {
    padding: 1em
}

/**字体*/
.ck_normal_font {
    font-size: 16px
}

.ck_min_font {
    font-size: 12px
}

.ck_title_font {
    font-size: 24px
}

.ck_normal_font, .ck_min_font, .ck_title_font {
    font-weight: normal
}